
body {
    font-family: 'Abel';font-size: 22px;
    }

.navbar {
  background-color: #000080;
}
.navbar-brand{
  font-size: 30px;
}
.nav-item{
  color: white;
}
.nav-link:hover{
  color: black;
}
.intro{
  padding-top: 100px;
}

.introh3 .introh6{
  text-align: center;
  
  font-weight: bold;
}

.intros{
  background-color:#000080;
  color: white;
  padding: 5px;
}

.intros:hover{
  background-color:#000080;
  color: white;
  padding: 5px;
}

.banner{
  padding-top: 50px;
}

#intro img{
    width: 100%;
  }


#about img{
    height: 100%; 
    width: 90%
  }

.everycon{
  padding-top: 100px;
    padding-bottom: 100px;

}
.teamcon{
  padding-bottom: 100px;
}
.test-img{
   width: 100%;
}
.test-img-2{
   width: 100%;
}
.test-img-3{
   width: 105%;
}
.contactimg{
  width: 100%;

}
.box{
  background-color: white;
}

.box{
  
-webkit-box-shadow: 0px 2px 14px 8px rgba(0,0,0,0.62); 
box-shadow: 0px 2px 14px 8px rgba(0,0,0,0.62);
}

.belowbox{
  padding-top: 50px;
}

/*@media (max-width: 1040px){
  .formcon{
   padding-left: 228px;
  padding-right: 185px;
  }
}*/

